
		<form>			
			<table width="600" border="1px" bordercolor="#000000" cellspacing="0px">
				<thead>
					<tr>
						<th colspan="4">会议预订申请</th>
					</tr>	
				</thead>
			<tr>
				<td width="20%">使用部门:</td>
				<td width="30%">
					<input type="text"/>
				</td>
				<td width="20%">召集人:</td>
				<td width="30%">
					<input type="text"/>
				</td>
			</tr>
			<tr>
				<td>会议开始日期:</td>
				<td>
					<input type="text"/>
				</td>
				<td>会议开始时间:</td>
				<td>
					<input type="text"/>
				</td>
			</tr>
			<tr>
				<td>会议结束日期:</td>
				<td>
					<input type="text"/>
				</td>
				<td>会议结束时间:</td>
				<td>
					<input type="text"/>
				</td>
			</tr>
			<tr>
				<td>参会人员:</td>
				<td colspan="4">
					<input type="text" size="60"/>
				</td>
			</tr>
			<tr>
				<td  colspan="5">
					茶歇:<br/>
					<input type="checkbox">小瓶水<input type="text" style="width:25px;text-align:right" value="1">×2元/瓶
					<input type="checkbox">咖啡<input type="text" style="width:25px;text-align:right" value="1">×20元/杯<br>
					<input type="checkbox">中餐<input type="text" style="width:25px;text-align:right" value="1">×15元/份
					<input type="checkbox">西餐<input type="text" style="width:25px;text-align:right" value="1">×50元/份
				</td>
			</tr>
			</table>
		</form>